.bar-contenedor {
  background-color: rgb(35, 40, 49);
  color: azure;
  min-height: 50px;
  display: flex;
  gap: 20px;
  padding: 0px 12px;
  align-items: center;
  justify-content: space-between;
}

.bar-icon {
  height: 40px;
  width: auto;
}
.bar-icon:hover {
  color: #d0baa9;
  transform: scale(1.1);
  cursor: pointer;
}
