.lector-contenedor {
  flex: 1;
  display: grid;
  max-height: 100vh;
  overflow: hidden;
  grid-template-columns: 300px auto;
  grid-template-rows: 50px 50px calc(-100px + 100vh);
  grid-template-areas:
    "n n"
    "p b"
    "p v";
}

.lc-panel-oculto {
  grid-template-areas:
    "n n"
    "b b"
    "v v";
}

.lc-nav-oculto {
  grid-template-areas:
    "p b"
    "p v"
    "p v";
}

.lc-barra-oculto {
  grid-template-areas:
    "n n"
    "p v"
    "p v";
}

.lc-panel-y-nav-oculto {
  grid-template-areas:
    "b b"
    "v v"
    "v v";
}

.lc-panel-y-barra-oculto {
  grid-template-areas:
    "n n"
    "v v"
    "v v";
}

.lc-nav-y-barra-oculto {
  grid-template-areas:
    "p v"
    "p v"
    "p v";
}

.lc-todo-oculto {
  grid-template-areas:
    "v v"
    "v v"
    "v v";
}

.panel-control-contenedor {
  grid-area: p;
  width: 300px;
  overflow: hidden;
}
.panel-control-ocultar {
  display: none;
}

.navbar-contenedor {
  grid-area: n;
  overflow: hidden;
}
.navbar-contenedor-ocultar {
  display: none;
}

.barra-estado-contenedor {
  grid-area: b;
  overflow: hidden;
  height: 50px;
  transition: height 0.3s;
}
.barra-estado-ocultar {
  display: none;
}
